{% extends 'Reg/layout.html' %}
{% load static %}

{%block head%}
    <link rel="stylesheet" href="{% static 'Reg/css/about.css' %}">
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <script src="https://kit.fontawesome.com/4fd880aedc.js" crossorigin="anonymous"></script>
    <title>ABOUT US</title>
    
{%endblock%}


{%block body%}


     <!--------------navbar code-->
    
    <!--------------navbar code-->
    
    
 <h1>ABOUT US</h1>

<img src="{% static 'Reg/images/29.jpg' %}">

<p>

During the past six decades, the Manipal Education Group has positively influenced the lives of more than 3,000 students
from 59 different countries, earning it a prestigious reputation in the fields of education, research, and healthcare.
Five academic institutions make up the group: Manipal Academy of Higher Education (MAHE, Karnataka), Sikkim Manipal
University (Sikkim), American University of Antigua (Caribbean Islands), Manipal International University (Malaysia),
and Manipal University Jaipur (Jaipur).

An autonomous state institution called Manipal University Jaipur (MUJ) was founded in 2011 at the request of the
Rajasthani government. By providing a hands-on, practical approach to learning that motivates students from all
disciplines to innovate and excel, it has completely transformed academic excellence in the area.

Since Jaipur is one of India's fastest-growing cities, there is a significant need for top-notch higher education there.
One of the best campuses in the area, MUJ's permanent campus is located in the nearby village of Dehmi Kalan on 122
acres of land.

The university offers courses that prepare students for careers in a variety of fields, including engineering,
architecture, planning, fashion design, fine arts, hospitality, humanities, journalism and mass communication, basic
sciences, law, commerce, computer applications, and management, at all academic levels, from undergraduate to doctoral.
The campus has cutting-edge research facilities, a contemporary digital library, and the most recent technology to give
its students a superior education in keeping with the history of Manipal University.


<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.877283710694!2d75.56304561498257!3d26.843855183157466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4850e05bee9b%3A0x1b8d67402d4eb863!2sManipal%20University%20Jaipur!5e0!3m2!1sen!2sin!4v1679269550795!5m2!1sen!2sin"
width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
referrerpolicy="no-referrer-when-downgrade"></iframe>

<script>
    var navlinks = document.getElementById("navlinks");
    function showMenu() {
        navlinks.style.right = "0";
    }

    function hideMenu() {
        navlinks.style.right = "-200px";
    }
</script>

{%endblock%}






